@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: "Google Sans", "Outfit", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Google Sans", "Outfit", sans-serif !important;
}
